/* Font and color variables */

/* Font for logos and headers to create a unique brand style */
$logo-font: "Baloo 2", sans-serif;

/* Primary font for most content to ensure readability */
$main-font: "Source Sans 3", sans-serif;

/* Secondary font for additional styling, often used for titles */
$secondary-font: "Poppins", sans-serif;

/* Primary color for text or elements that need emphasis (white) */
$main-color: #ffffff;

/* Secondary color for backgrounds or contrasting areas (black) */
$secondary-color: #000000;
